@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

#div_fixa {
    position:fixed; 
    margin:15px;
    margin-top: 300px;
    z-index:5000;
    bottom: 0px;
}

:root {
    --cor0: #E8E8DB;
    --cor1: #FFDF65;
    --cor2: #858377;
    --cor3: #636057;
    --cor4: #494846;

    --fonte-logo: Paytone One;
    
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color:var(--cor2);
}

main {
    background-color:var(--cor0);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header {
    background-image: linear-gradient(to bottom, black, var(--cor3));
    min-width: 100%;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;

}

header h1 {
    font-family: Paytone One;
    color: var(--cor1);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(128, 128, 128, 0.384);
    
}

header p {
    font-family: Julius Sans One;
    color: white;
    font-size: 1.2em;
    padding-bottom: 20px;
    max-width: 650px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(128, 128, 128, 0.384);
}

.logo img {
    width: 100px;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    width: 474px;
    padding: 10px;
    margin: auto;
    
}


nav {
    background-color: var(--cor3);
    padding: 10px;
    text-align: center;
    box-shadow: 0px 7px 9x rgba(0, 0, 0, 0.315);
  
}

nav a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
}

#topo{
    position: sticky;
    top: 0;
    width: 100%;
}

h2 {
    font-family: Bungee;
    color:black;
    text-align: center;
}

p {
    margin-top: 10px;
}

.eletrica {
    
}



.container {
   display: flex;
    
}


.item {
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    box-shadow: 2px 2px 7px black;
}

img {
    width: 70%;
    border-radius: 8px;
    border-width:thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.253);
}

.seguranca {
    
}

.contato {
    
}

footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}