@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(37, 211, 102);
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 5000;
}

.fa-whatsapp {
  margin-top: 16px;
}

:root {
  --cor0: #e8e8db;
  --cor1: #ffdf65;
  --cor2: #858377;
  --cor3: #636057;
  --cor4: #494846;

  --fonte-logo: Paytone One;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--cor2);
}

main {
  background-color: var(--cor0);
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 1000px;
  box-shadow: 0px 0px 10px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header {
  background-image: linear-gradient(to bottom, black, var(--cor3));
  text-align: center;
  padding-top: 20px;
  position: fixed;
}

header h1 {
  font-family: Paytone One;
  color: var(--cor1);
  text-shadow: 2px 2px 0px rgba(128, 128, 128, 0.384);
  margin: auto;
}

header p {
  font-family: Julius Sans One;
  color: white;
  font-size: 1em;
  padding-bottom: 20px;
  max-width: 40rem;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(128, 128, 128, 0.384);
}

.logo img {
  width: 5rem;
  border: none;
}

.logo {
  align-items: center;
  width: 26rem;
  padding: 0.5rem;
  margin: auto;
}

nav {
  background-color: var(--cor3);
  padding: 10px;
  text-align: center;
  box-shadow: 0px 7px 9x rgba(0, 0, 0, 0.315);
  position: fixed;
}

nav a {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

nav a:hover {
  background-color: var(--cor1);
  color: var(--cor3);
}

h2 {
  font-family: Bungee;
  color: black;
  text-align: center;
}

p {
  margin-top: 10px;
}

button {
  background-color: #25d366;
  border-radius: 0.5rem;
  padding: 0.8rem;
  box-shadow: none;
  border: none;
}

button {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button img {
  width: 3rem;
}

.container {
  display: flex;
}

.item {
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  border-width: medium;
  border-style: solid;
  border-color: gray;
  box-shadow: 2px 2px 7px black;
}

.container img {
  width: 70%;
  border-radius: 8px;
  border-width: thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.253);
}

.eletrica {
    padding-top: 230px;
}

.contato {
  text-align: center;
}

footer {
  padding: 10px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  main {
    min-width: 100%;
  }

  body {
    min-width: 100%;
  }

  header {
    min-width: 100%;
  }

  header p {
    max-width: 90%;
  }

  nav {
    min-width: 100%;
  }

}
